<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gob.sis.simos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="gob.sis.simos.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Annx02Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gob.sis.simos.MainMenuActivity"
            android:label="@string/main_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.EESSListActivity"
            android:label="@string/main_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.InquestListActivity"
            android:label="@string/main_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.PersonInformationActivity"
            android:label="Encuestado"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.InquestPaymentActivity"
            android:label="Verificación de pagos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.InquestPrescriptionActivity"
            android:label="Verificación de pagos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.AddPrescriptionActivity"
            android:label="Medicamentos/Insumos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
            
        </activity>
        
        
        
        <activity
            android:name="gob.sis.simos.InquestPayment02Activity"
            android:label="Verificación de pagos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.InquestPayment03Activity"
            android:label="Verificación de pagos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="gob.sis.simos.Annx02Activity"
            android:label="@string/title_activity_annx02"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.Anx02Activity"
            android:label="@string/title_activity_annx02"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.Anx01Activity"
            android:label="@string/title_activity_annx02"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.DynamicActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.TestLoginActivity"
            android:label="@string/title_activity_test_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="gob.sis.simos.TestSettingsActivity"
            android:label="@string/title_activity_test_settings" >
        </activity>
    </application>

</manifest>