<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gob.sis.simos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="gob.sis.simos.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gob.sis.simos.MenuPrincipalActivity"
            android:label="@string/main_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.ListaAsignacionesActivity"
            android:label="Establecimientos Asignados"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01">
        </activity>
        <activity
            android:name="gob.sis.simos.ListaEncuestasActivity"
            android:label="Formularios"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.InformacionEncuestadoActivity"
            android:label="Info. Encuestado"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.InquestPaymentActivity00"
            android:label="Verificación de pagos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.EntregaRecetasActivity"
            android:label="Entrega de recetas"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.AddToRecetaActivity"
            android:label="Medicamentos/Insumos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.Encuesta01PrincipalActivity"
            android:label="Verificacion de pagos y entrega de med."
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.VerificacionPagosActivity"
            android:label="Verificacion de pagos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.AddTicketActivity"
            android:label="Agregar Boletas"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.SimpleCheckListActivity"
            android:label="¿Porque pagó dentro del EESS?"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.MenuEncuestasAlmacenadasActivity"
            android:label="Reporte del día"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01">
        </activity>
        <activity
            android:name="gob.sis.simos.ListaStoredEncuestasActivity"
            android:label="Verificacion de pagos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.MenuSyncActivity"
            android:label="Sincronización"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        
        
        
        <activity
            android:name="gob.sis.simos.VerificacionPagos01Activity"
            android:label="Verificación de pagos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.VerificacionPagos02Activity"
            android:label="Verificación de pagos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme01" >
        </activity>
        <activity
            android:name="gob.sis.simos.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="gob.sis.simos.Annx02Activity"
            android:label="@string/title_activity_annx02"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.Anx02Activity"
            android:label="@string/title_activity_annx02"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.Anx01Activity"
            android:label="@string/title_activity_annx02"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.DynamicActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Annx02Theme" >
        </activity>
        <activity
            android:name="gob.sis.simos.TestLoginActivity"
            android:label="@string/title_activity_test_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="gob.sis.simos.TestSettingsActivity"
            android:label="@string/title_activity_test_settings" >
        </activity>
    </application>

</manifest>