<?xml version="1.0"?>
<configuration>
	<appSettings>
    
    <!--<add key="SP_LOGIN" value="PR_GESTO_SEL_LOGINACCESO"/>-->
    <add key="SP_LOGIN" value="PR_SEL_LOGINACCESO"/>
    <add key="SP_RESPUESTAS" value="PR_SEL_TB_RESPUESTA_TOTAL"/>
    <add key="SP_ASIGNACIONES_X_USUARIO" value="PR_SEL_ASIGNACIONESENCTA"/>
    
		<add key="SP_TIPODOCIDENTIDAD" value="PR_SEL_A_TIPODOCIDENTIDAD"/>
		<add key="SP_CONCEPTOPAGO" value="PR_SEL_TB_MAEST_CONCEPTOPAGO"/>
		<add key="SP_LUGARPAGO" value="PR_SEL_TB_MAEST_LUGARPAGO"/>
		<add key="SP_MODOENTREGA" value="PR_SEL_TB_MAEST_MODOENTREGA"/>
		<add key="SP_PERSONAINDICAPAGO" value="PR_SEL_TB_MAEST_PERSONAINDICAPAGO"/>
    
    <add key="SP_INSERTAENCTADO" value="PR_INS_TB_ENCTA_ENCUESTADO"/>
    
    <add key="SP_INSERTARPTAS" value="PR_INS_TB_ENCTA_RESPUESTA"/>
    <add key="LOG_PATH" value="C:\LOGSIMOSWS\"/>
	</appSettings>
	<connectionStrings>
		<add name="MSSQL_connectionString" connectionString="Server=localhost;Database=BDSIS_ENCUESTA;User Id=dbsis;Password=dbsis;"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los 
            tipos d datos donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
		<compilation debug="true" strict="false" explicit="false" targetFramework="4.0">
		</compilation>
		<!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
-->
		<!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
</configuration>
